<form>
  <label for="name">Name</label>
  <input name="name" type="text" placeholder="Project name" [(ngModel)]="name"/>
  <input value="Search" type="submit" class="primary" (click)="search.emit(name)" />
</form>

<!-- <h4>Showing <mark class="counterClass">{{ (projects$ | async)?.length }}</mark> projects </h4> -->
<ul *ngIf="projects?.length>0;">
  <li *ngFor="let project of projects">
    <h5><a [routerLink]="['./', project._id]" routerLinkActive="router-link-active"><span>{{project.name}}</span></a></h5>
    <button class="secondary" (click)="delete.emit(project._id)">Delete</button>
  </li>
</ul>
