<form>
  <label for="name">Name</label>
  <input name="name" type="text" placeholder="Project name" [(ngModel)]="name"/>
  <input value="Search" type="submit" class="primary" (click)="search.emit(name)" />
</form>

<!-- <h4>Showing <mark class="counterClass">{{ (projects$ | async)?.length }}</mark> projects </h4> -->
<ul *ngIf="(projects$ | async)?.length>0;">
  <li *ngFor="let project of projects$ | async ">
    <h5><a [routerLink]="['./', project.id]" routerLinkActive="router-link-active"><span>{{project.name | uppercase}}</span></a></h5>
    <button class="secondary" (click)="delete.emit(project.id)">Delete</button>
  </li>
</ul>
